<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title th:text="${customer.fullName}"></title>
</head>

<body>
	<h2 th:text="${customer.fullName}"></h2>
	<table>
		<tr>
			<td>First Name:</td>
			<td th:text="${customer.firstName}"></td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td th:text="${customer.lastName}"></td>
		</tr>
		
	</table>
	
	
	<p><a href="/customer-list.html">Show List</a> | <a href="/new-customer.html">Create New</a></p>
</body>

</html>